<!DOCTYPE html>
{% include 'include/head.html.twig' %}
<style>
.container  {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
</style>
  <body class="sans-serif near-black">
    <div class="container">
      <img src="{{url('images/logo.png')}}" alt="Logo" width="256px">
      <h2 class="f3">KESCA is under construction</h2>
    </div>
  </body>
</html>
